* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $primary_color;
  height: 70px;
  div {
    @include container;
    img {
      width: 50px;
      vertical-align: middle;
    }
  }
}

main {
  background-color: $secondary_color;
  div {
    @include container;
    display: flex;
    flex-wrap: wrap;
    .disk {
      width: 22%;
      height: 350px;
      background-color: $primary_color;
      border: 1px solid black;
      text-align: center;
      margin: 25px;
      padding: 25px;
      img {
        width: 100%;
      }
      h3 {
        color: white;
        text-transform: uppercase;
      }
      span {
        display: block;
        color: grey;
      }
    }
  }
}
